<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Eglo Cloud</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.eglo.pw/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.eglo.pw/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.eglo.pw/images/icons/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="https://cdn.eglo.pw/images/icons/site.webmanifest"
    />
    
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!--link href="https://cdn.eglo.pw/styles/styles.css" rel="stylesheet" /-->
  </head>



  <body>
    <div id="app"></div>


    <script type="text/babel" src="styles/like_button.js"></script>


  </body>
</html>
