<%- include('../resources/head'); -%>
  <body>
    <div class="position-absolute top-50 start-50 translate-middle">
    <div class="text-center">
      <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    </div>
  </body>
</html>
