<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">/</a>
  <a href="#">Cloud</a>
  <a href="#">Calendar</a>
  <hr style="width: 50%; color: white; margin-left: 10%" />
  <a href="#">Email</a>
  <a href="#">Email Forward</a>
  <hr style="width: 50%; color: white; margin-left: 10%" />
  <a href="#">API</a>
  <hr style="width: 50%; color: white; margin-left: 10%" />
  <a href="#">Messages</a>
  <a href="#">Phone</a>
  <hr style="width: 50%; color: white; margin-left: 10%" />
  <a href="#">Settings</a>
  <a href="#">Sign out</a>
</div>
